@import "./mixins.scss";
@import "./variables.scss";

body{
  background-color: var(--primary-3);
}

* {
  box-sizing: border-box;
  font-size: var(--global-primary-font-size);
  line-height:var(--line-height-28);
}

::selection {
  background:var(--primary-1);
  color:var(--primary-4);
}

button,a{
  cursor: pointer !important;
}

a{
  color:var(--primary-2) !important;
  font-weight:600;
  text-decoration: none !important;
  &:hover{
    color:var(--primary-1) !important;
  }
}

.navbar-container{
  nav{
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: transparent !important;
    a{
      color: var(--primary-1) !important;
      font-weight: 500;
      text-transform: capitalize;
    }
  }
}

ul{
  list-style-type: square;
}

input:-internal-autofill-selected {
  background-color: #fff !important;
}

// common class
.display-none {
    display: none !important;
  }

.d-flex,.d-flex-warp {
  display: flex !important;
}
.d-flex-warp{
  flex-wrap: wrap;
  .f-item {
    /* Styles for individual flex items */
    // width: calc(33.33% - 20px); /* Adjust the width based on your design */
    margin: 10px;
    box-sizing: border-box;
  }
}
.w-100 {
  width: 100% !important;
}
.fw-6{
  font-weight: 600 !important;
}


hr {
  border: 0; /* No border */
  height: 2px; /* Set the height of the line */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #fff, rgba(0, 0, 0, 0)); /* Gradient color */
  margin: 20px 0; /* Adjust spacing above and below the line */
}


/*
* Example with floated child elements
* creates an invisible element
* @extend using time need to use in front of the %class
*
*/ 
%clearfix {
  &:hover {
    background-color: black;
    color: #fff;
  }
}

/* margin and padding */
@for $i from 1 through 8 {
  $num: $i * 10;
  //margin
  .m-#{$num} {
    margin: $num + px !important ;
  }
  .f-item-#{$num} {
    width: $i * 10% !important ;
  }
  .mt-#{$num} {
    margin-top: $num + px !important ;
  }
  .mr-#{$num} {
    margin-right: $num + px !important ;
  }
  .mb-#{$num} {
    margin-bottom: $num + px !important ;
  }
  .ml-#{$num} {
    margin-left: $num + px !important ;
  }
  .mx-#{$num} {
    margin-left: $num + px !important ;
    margin-right: $num + px !important ;
  }
  .my-#{$num} {
    margin-top: $num + px !important ;
    margin-bottom: $num + px !important ;
  }
  //padding
  .p-#{$num} {
    padding: $num + px !important ;
  }
  .pt-#{$num} {
    padding-top: $num + px !important ;
  }
  .pr-#{$num} {
    padding-right: $num + px !important ;
  }
  .pb-#{$num} {
    padding-bottom: $num + px !important ;
  }
  .pl-#{$num} {
    padding-left: $num + px !important ;
  }
  .px-#{$num} {
    padding-left: $num + px !important ;
    padding-right: $num + px !important ;
  }
  .py-#{$num} {
    padding-top: $num + px !important ;
    padding-bottom: $num + px !important ;
  }
}
