@import '../../mixins.scss';
.project-container{
    .carousel,.carousel-inner{
        height: 280px;
        .carousel-control-next, .carousel-control-prev{
          margin-top: -35px;
          opacity: .3;
        }
       
    }
    .carousel-item{
      min-height: 450px;
      .d-flex{
          justify-content: space-evenly;
          gap: 20px;
          .card-container{
              max-width: 33%;
              @include for-desktop-up{
                max-width: 100%;
              }
              .card{
                  min-height: 220px;
              }
          }
      }
  }
}